.about-us {
    width: 100%;
    padding: 90px 0;
}

.pic {
    height: auto;
    width: 302px;
}

.aboutseaction {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutseaction img{
    background: #4070f4;
    box-shadow: 0px 8px 12px rgba(2,30,84,.06);
    border-radius: 10px;
    padding: 10px;
}

.abouttext {
    width: 540px;
}

.abouttext h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #4070f4;
}

.abouttext h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #3d545f;
}

.abouttext p {
    line-height: 25px;
    letter-spacing: 1px;
}

.data {
    margin-top: 30px;
}

.youtube {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
}
.youtube a:hover{
    text-decoration: none;
}

.youtube:hover {
    color: #4070f4;
    background: #fff;
    border: 1px solid #4070f4;
}



/* Contact Team */
.contact{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .sub-contact{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    width: 30%;
    height: 30%;
    box-shadow: 0 5px 5px 5px rgba(2,30,84,.06);
    border-radius: 10px;
}
.contact p{
    padding: 10px;
    margin: 10px;
}

.social-media{
    padding: 10px;
    margin: 10px;
}
.SocialMedia{
    height: 40px;
    width: 45px;
    background: #1a1a1a;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
}
.FooterLinks{
    text-decoration: none;
    color: #000;
}
.FooterLinks:hover{
    color: #4070f4;
}