#error-page{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
#error-page .contents{
  max-width: 600px;
  text-align: center;
}
.contents h4{
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  max-width: 600px;
  position: relative;
}
.contents p{
  font-size: 1.2em;
  color: #0d0d0d;
}
.contents .btns{
  margin: 25px 0;
  display: inline-flex;
}
.contents .btns a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #69a6ce;
  color: #69a6ce;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.contents .btns a:hover{
  background: #69a6ce;
  color: #fff;
}
@media (max-width:768px){
    .contents h4{
        font-size: 16px;
    }
}